/* media */


/* header */
body{
    margin: 0;
    padding: 0;
}
.header-nav{
    z-index: 5;
    color: white;
    text-decoration: none;
}
.header-burger-btn{
    display: none;
    position: relative;
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgb(236, 34, 34);
}
.header-burger-btn span{
    transition: .3s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 5px;
}
.header-burger-btn span:nth-child(1){
    transform: translateY(-10px)
}
.header-burger-btn span:nth-child(3){
    transform: translateY(10px)
}

.header.open .header-burger-btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header.open .header-burger-btn span:nth-child(2){
    opacity: 0;
}
.header.open .header-burger-btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}


.nav-item{
    background-color: rgb(236, 34, 34);
    border: none;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: .3s;
}
.nav-item:hover{
    color: rgb(230, 109, 109);
}
.header{
    height: 70px;
    background-color: rgb(236, 34, 34);
    align-items: center;
    width: 100%;
    font-size: 18px;
}
.header-logo{
    color: white;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 30px;
}
/* title */
.btn-hotel{
    border: none;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    padding: 15px 10px;
    border-radius: 15px;
    position: absolute;
    top: 378px;
    width: 300px;
    font-weight: bold;
    transition: .3s;
}
.btn-hotel:hover{
 border: 4px solid rgb(236, 34, 34);
 color: rgb(236, 34, 34);
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(245 84 84 / 52%);
}

.title-block{
    background: url(/images/bg.jpg);
    height: 500px;
    position: relative;
}
.title-text-bold{
    font-size: 5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.input{
    display: flex;
    border-radius: 10px;
    border: 2px solid black;
}
.main-title-text{
    font-size: 4em;
    font-weight: bold;
    color: rgb(236, 34, 34);
    display: flex;
}
.title-text-slim{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}
.title-text{
    position: absolute;
    margin: 0 30px;
}
/* main */
.main-block{
    display: flex;
}
.main{
    /* margin: 0 30px; */
}
.main-maps{
    margin-top: 50px;
    height: 620px;
    width: 550px;
}

.card-popular{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-popular-list:after{
    display: table;
    content: "";
    clear: both;
}
.popular{
    float: left;
}
.main-form{
    display: flex;
    margin: 0 30px;
    flex-direction: column;
}
.main-form-sort,.main-form-type{
    margin-top: 15px;
}
.main-form-type{
    display: flex;
    flex-direction: column;
}
.main-sort{
    display: flex;
}
.main-title{
    display: flex;
    justify-content: space-between;
}
.main-result{
    margin: 10px 30px;
}
.card-block{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card-block::after{
    display: table;
    content: "";
    clear: both;
}
.card{
    
    float: left;
    margin: 0 20px;
}
/*  */
.btn-search{
    border: 3px solid rgb(104, 104, 104);
    background-color: transparent;
    color: rgb(104, 104, 104);
    border-radius: 10px;
    padding: 7px 15px;
    font-weight: bold;
    transition: .3s;
    margin-top: 10px;
}
.btn-search:hover{
    border: 3px solid rgb(236, 34, 34);
    color: rgb(236, 34, 34);
}

.star{
    width: 15px;
    height: 15px;
}

/* .card-block{
    display: flex;
    flex-direction: column;
} */

/*  */
.intermediate-nav{
    margin-top: 15px;
    height: 70px;
    background-color: rgb(236, 34, 34);
    display: flex;
    align-items: center;
}

.intermediate-title{
    margin-left: 30px;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

.intermediate-nav{
    
}
/* 
.card-popular-list{
    display: flex;
    justify-content: center;
} */

.popular{
    margin: 10px 30px;
}
.card{
    margin-top: 20px;
}
/* .card-body{
    display: flex;
} */

.card-title-block{
    display: flex;
    flex-direction: column;
    margin-left: 10px
}
.go{
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(236, 34, 34);

    position: fixed;
    right: 20px;
    top: 80%;
    font-size: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px 15px;
    color: rgb(236, 34, 34);
    transition: .3s;
    display: none;
}
.go-show{
    display: block;
}
.go:hover{
    opacity: .7;
    color: rgb(236, 34, 34);
}

.footer-logo-img{
    width: 152px;
    height: 99px;
}

.footer{
    background-color: rgb(236, 34, 34);
    display: flex;
    justify-content: space-between;
}
.footer-partnes{
    margin-right: 30px;
    margin-top: 40px;
}
.footer-logo{
    margin: 20px 30px;
}
.footer-img1{
    width: 66px;
    height: 67px;
    margin: 0 5px;
}
.footer-img2{
    margin: 0 5px;
    width: 50px;
    height: 50px;
}
.footer-img3{
    margin: 0 5px;
    width: 50px;
    height: 50px;
}
.footer-title{
    color: white;
    font-weight: bold;
}
.input-img{
    height: 30px;
    width: 30px;
}
.checkbox-park{
    margin: 10px 0;
}
#checkbox{
    margin-right: 5px;
}
label{
    display: flex;
    align-content: baseline;
}
.go-img{ 
    width: 30px; 
    height: 35px; 
}
.card-popular-list{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
} 
.card{ 
    margin-bottom: 10px; 
}
  .title-text-bold{ 
            /* font-size: xx-large;  */
        } 
        .intermediate-title{ 
            font-size: x-large; 
        }
/* media */
@media  (max-width: 992px){
    .btn-hotel{ 
        width:80%;}
          .footer-partnes{ 
                margin-right: 30px; 
                margin-top: 0; 
            } 
            .footer-logo-img{ 
                width: 125px; 
                height: 84px; 
            } 
            .footer-img1{ 
                width: 55px; 
                height: 53px; 
                margin: 0 5px; 
            } 
            .footer-img2{ 
                margin: 0 5px; 
                width: 35px; 
                height: 35px; 
            } 
            .footer-img3{ 
                margin: 0 5px; 
                width: 35px; 
                height: 35px; 
            }
        
        .main-title-text{ 
                font-size: x-large; 
            }
    .header-burger-btn{
        z-index: 10;
        display: block;
    }
    .header-nav{
        width: 350px;
        position: absolute;
        left: -350px;
        top: 0;
        background-color: rgb(236, 34, 34);
        padding: 50px 20px 20px 20px;
        transition: .4s
    }
    .nav-item{
        margin: 20px 18px;
        font-size: 18px;
        display: block;
    }
    .header.open .header-nav{ 
        transform: translateX(100%);
    }
    }
    @media (max-width:720px) { 
        .title-text-bold{ 
            font-size: xx-large; 
        } 
        .intermediate-title{ 
            font-size: x-large; 
        } 
 
        .card-block{ 
            display: flex; 
            justify-content: center; 
            flex-direction: column; 
        } 
        .card{ 
            width: 70%; 
        } 
    }
